body {
  padding: 0 50px;
}

a {
  color: #00B7FF;
}

.btn:focus, 
.btn:active:focus, 
.btn.active:focus, 
.btn.focus, 
.btn:active.focus, 
.btn.active.focus {
  outline: none;  
}

.capitalize:first-letter{
  text-transform: capitalize;
}